body {
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
    color: #222831;
}

tr,
td,
th {
    width: 10%;
    border: 2px solid black;
    padding: 8px 16px;
}

/* #main-table-head{

} */
.hidden{
    display:none
}

#main-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    height: 50%;
    overflow-x: auto;
}


#table-head-row {
    background-color: #507AA6;
}

tr:nth-child(even) {
    background-color: #E8EAF0
}

tr:nth-child(odd) {
    background-color: #FFFFFF
}

.rank-column {
    width: 5%;
    text-align: center
}

.name-column {
    width: 10%;
    text-align: center
}

.symbol-column {
    width: 5%;
    text-align: center;
    position:sticky
}

.market-cap-column {
    width: 20%;
    text-align: center
}

.red,
.green,
#table-head-row {
    width: 10%;
    text-align: center;
}

.price-column {
    width: 10%;
    text-align: center
}

.explorer-column {
    width: 20%;
    text-align: center
}

td.red {
    color: red;
}

td.green {
    color: green
}
.flash-red {
    background-color: red;
    transition: background-color 0.5s;
  }
  
  .flash-green {
    background-color: green;
    transition: background-color 0.5s;
  }

